.experienceCard-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid rgba(250, 247, 247, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: white;
  font-size: 10px;


  .experienceCard-img {
    margin-right: 30px;
    align-self: center;



  }
  .jobTitle-title {
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    font-weight: bold;
  }

  .company-title {
    color: white;
    font-size: 12px;
    line-height: 25px;
    margin: 0;
    font-weight: normal;

  }

  .duration-title {
    color: white;
    font-size: 12px;
    line-height: 25px;
    margin: 0;
    font-weight: normal;

  }



}
