.project-details-card {
  display: block;
  left: 10%;
  color: white;
  overflow-y: auto;


  .backButtonContainer {
    top: 10%;
    left: 10%;
    padding: 0
  }

  .projectBar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 15%;
    gap: 25px;


    .projectTitle {
      color: #fff;
      font-size: 50px;
      line-height: 53px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: bold;
      letter-spacing: 4px;
    }

    .subtitleAndLinkContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }

    .projectDetailsImage {
      width: 1000px;
      height: 500px;
    }

    .paragraph {
      color: white;
      font-size: 10px;
      font-weight: bold;

    }


  }
}
