.nav-bar {
  background: #a19f9f;
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 2;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  padding: 0 1rem; /* Add padding for better spacing */

  nav {
    display: flex;
    align-items: center;
    column-gap: 15px;
  padding-right: 200px;

    a {
      font-size: 10px;
      color: #ffffff;
      text-decoration: none;
      display: flex;
      align-items: center;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #ffd700;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 12px;
        letter-spacing: 1px;
        position: absolute;
        bottom: 0;
        display: flex;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
    }
  }

  ul {
    display: flex;
    list-style: none;
    column-gap: 25px;
    margin-left: 25px;
    padding: 0;

    li {
      a {
        padding: 7px 0;
        font-size: 20px;
        color: #4d4d4e;
        text-decoration: none;

        &:hover {
          .anchor-icon {
            color: #ffd700;
          }
        }
      }
    }
  }

  .googleImgContainer {
    .googleImg {
      width: 35px;
      height: 35px;
      border-radius: 50%; /* Use '50%' for a circular shape */
    }
  }

  .loginButton {
    color: #ffd700;
    font-size: 11px;
    font-weight: 400;
    font-family: sans-serif;
    text-decoration: none;
    border: 1px solid #ffd700;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}
