
.about-page {
  display: block;
  overflow-y: auto;
  left: 10%;


  .text-zone{
    position: absolute;
    display: flex;
    transform: translateY(-50%);
    max-height: 90%;
    top: 25%;

    .text {
      width: 40%;

      h1 {
        color: #fff;
        font-size: 50px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: bold;
        letter-spacing: 4px;
      }

      h2 {
        color: #fff;
        margin-top: 30px;
        font-weight: 400;
        font-size: 18px;
        font-family: sans-serif;
        letter-spacing: 2px;
        animation: fadeIn 1s 1.8s backwards;
      }

    }

    .picture {
      width: 40%;
      img {
        z-index: 0;
        position: absolute;
        width: 200px;
        border-radius: 250px;
        margin: 0;
      }
    }
  }

  .experience-container {
    margin-top: 20%;
    margin-right: 20%;

    .experience-title-container {
      padding: 10px;
      border-bottom: 3px solid rgba(255, 215, 0, 0.6);
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
    }

    .experience-title {
      color: #fff;
      font-size: 28px;
      line-height: 53px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: bold;
      letter-spacing: 4px;
    }

  }

}




