.about-page {
  top: 20%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  left: 10%;


  .text-zone {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;

    .text {
      width: 40%;

      h1 {
        color: #fff;
        font-size: 50px;
        line-height: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: bold;
        letter-spacing: 4px;
      }

      h2 {
        color: #fff;
        margin-top: 30px;
        font-weight: 400;
        font-size: 18px;
        font-family: sans-serif;
        letter-spacing: 2px;
        animation: fadeIn 1s 1.4s backwards;
      }
    }

    .picture {
      overflow: hidden;

      .profileImg {
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

  }

  .experience-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 100px;

    .experience-title-container {
      padding: 10px;
      border-bottom: 3px solid rgba(255, 215, 0, 0.6);
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
    }

    .experience-title {
      color: #fff;
      font-size: 28px;
      line-height: 53px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: bold;
      letter-spacing: 4px;
    }
  }

  .addExperience-button {
    align-self: flex-start; /* Position the button to the left within its container */
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 30px; /* Create space below the text-zone */
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}
